body {
  margin: 0;
  padding: 0;
  color: white;
  font-family: 'Athiti', sans-serif;
  background-image: url(/public/static/images/background.png);
  background-color: rgb(51, 51, 110);
  background-attachment: fixed;
  background-size: cover;
  overflow-x: hidden;
}
